form{
    background: unset;
    border-radius: 15px;
    border: 2px solid white;
}
.BookSearchLabel{
    margin-left:20px;
    margin-top: 10px;
    color: white;
    font-family: 'Oleo Script', cursive;
}
.submitBtn{
    margin-bottom: 10px;
    margin-left: 20px;
}
.form-control{
    margin-left: 20px;
    width: 95%;
}